# List

In [ ]:
Lists are used store multiple item in a single varible.
Lists are one of 4 built-in data type in python used to Store Collection of data

In [3]:
#list  with mixed data type
my_list=[1,'Rice',2,5]
my_list

[1, 'Rice', 2, 5]

In [7]:
name,price,code=["maggie",[10,75,150],["m"]]
name
price
code

['m']

In [8]:
price

[10, 75, 150]

In [9]:
name

'maggie'

In [14]:
n_list=["happy",[2,0,1,4]]
n_list

['happy', [2, 0, 1, 4]]

In [15]:
print(n_list[0][2])

p

# Negative index

In [16]:
my_list =['poonam','neha','niraj','ganesh','nik']

In [19]:
print(my_list[-1])

nik

In [20]:
print(my_list[-5])

poonam

In [ ]:
my_list=[len('poonam','neha','niraj','ganesh','nik')]

In [21]:
odd=[2,4,6,8]
odd[0]=1
odd[1:4]

[4, 6, 8]

In [31]:
odd[1:4]=[3,5,7]
print(odd)

[1, 3, 5, 7, [3, 5, 7], 7, 7, 8]

In [29]:
odd.extend([8])
print(odd)

[1, 3, 5, 7, 7, 7, 7, 8]

In [32]:
odd.append(7)
print(odd)

[1, 3, 5, 7, [3, 5, 7], 7, 7, 8, 7]

In [37]:
a=[1,9,7]
b=[3,2,5]
a+b

[1, 9, 7, 3, 2, 5]

In [40]:
my_list=["poonam","janhavi","sapna","joyti","vishu"]
my_list.remove("sapna")
print(my_list)

['poonam', 'janhavi', 'joyti', 'vishu']

In [41]:
print(my_list.pop(2))

joyti

In [42]:
print(my_list.pop())

vishu

In [44]:
my_list.clear()
print(my_list)

[]

In [47]:
pow2=[2* x for x in range(10)]
print(pow2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
pow2=[]
for x in range(10):
 pow2.append(2** x)
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [52]:
pow2=[]
for x in range(10):
 pow2.append(2** x)
 print(pow2)

[1]
[1, 2]
[1, 2, 4]
[1, 2, 4, 8]
[1, 2, 4, 8, 16]
[1, 2, 4, 8, 16, 32]
[1, 2, 4, 8, 16, 32, 64]
[1, 2, 4, 8, 16, 32, 64, 128]
[1, 2, 4, 8, 16, 32, 64, 128, 256]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [55]:
my_list=["neha","janhavi","ganesh","nik"]
print("neha" in  my_list)

True

In [62]:
print("nik" not in my_list)

False

In [63]:
for fruit in ['apple','mangeo','banana']:
    print("I Like",fruit)

I Like apple
I Like mangeo
I Like banana

# Tuple

In [67]:
n_tuple=("mouse",[8,4,6],[1,2,4])
print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

# Dictionary

In [70]:
Python dictionary is an unordered collection of items. Each item of a dictionary has a key/value pair.
Dictionary are otimized to retrieve values the key is known.

SyntaxError: invalid syntax (Temp/ipykernel_3532/717334847.py, line 1)

# Creating python Dictionary

In [ ]:
Creating dictionary is as simple as placing items inside curly braces{} separated by commas.
An item has a key and a corresponding value that is expressed as a pair(key:value).
While the values can be of any data type and can repeat,key must be of immutable type(string),
number or tuple

In [71]:
my_dict={1:'apple',2:'ball'}
print(my_dict)

{1: 'apple', 2: 'ball'}

In [72]:
my_dict=({1:'apple',2:'ball'})
print(my_dict)

{1: 'apple', 2: 'ball'}

In [75]:
my_dict={'name':'poonam','age':21,'address':'bhandup'}
print(my_dict['name'])

poonam

In [76]:
print(my_dict['age'])

21

In [77]:
print(my_dict['address'])

bhandup

In [78]:
my_dict={'name':'poonam','age':21,'address':'bhandup'}
my_dict['age']=23 #update
print(my_dict)

{'name': 'poonam', 'age': 23, 'address': 'bhandup'}

In [81]:
my_dict['address']='thane'
print(my_dict)

{'name': 'poonam', 'age': 23, 'address': 'thane'}

In [82]:
square ={1:1,2:4,3:9,4:16,5:25}
print(square.pop(4))

16

In [83]:
print(square)

{1: 1, 2: 4, 3: 9, 5: 25}

In [84]:
print(square.pop(5))

25

In [85]:
print(square.popitem())

(3, 9)

In [87]:
mark={}.fromkeys(['python','Fds','Ai'],0)
print(mark)

{'python': 0, 'Fds': 0, 'Ai': 0}

In [88]:
for item in mark.items():
    print(item)

('python', 0)
('Fds', 0)
('Ai', 0)

In [91]:
print(mark.keys())

dict_keys(['python', 'Fds', 'Ai'])

In [92]:
for item in mark.items():
    print(mark)

{'python': 0, 'Fds': 0, 'Ai': 0}
{'python': 0, 'Fds': 0, 'Ai': 0}
{'python': 0, 'Fds': 0, 'Ai': 0}