In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.chdir("C:/Users/Admin/Downloads")
cars_data=pd.read_csv("Toyota.csv",index_col=0,na_values=["??","???"])
cars_data.size

14360

In [3]:
cars_data.dropna(axis=0,inplace=True)
cars_data.size

10990

In [4]:
cars_data=pd.read_csv("C:/Users/Admin/Downloads/Toyota.csv")
cars_data.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170